#welcome {
  @include aspect-ratio(3, 1);
  position: relative;
  overflow: hidden;
  margin-bottom: 4rem;
  & > div {
    position: absolute;
    left: 0;
    top: 0;
  }
}

#hero, .full-pane-callout {
  padding: 0;
  .row {
    position: relative;
    overflow: hidden;
    & > .columns {
      position: relative;
      overflow: hidden;
      &.brand-color {
        .hero-card-container {
          background: rgba($primary-color, 0.8);
          background-blend-mode: multiply;
        }
      }
      .hero-card-container {
        background: $black;
        position: relative;
        padding: 0 4rem;
        height: 40rem;
        @include flex;
        @include flex-align(center, middle);

        @include breakpoint(small only){
          padding: 0 2rem;
          height: 30rem;
        }

        .hero-card {
          background: none;
          position: relative;
          width: 100%;
          margin: 0;
          color: $white;
          border: none;
          h2 {
            margin: 0 0 2rem;
          }
          .button {
            border-width: 4px;
            margin: 2rem 0 0;
          }
        }
      }
    }
  }
}

#homeSteps {
  padding: 6rem 0;
  #stepColumns {
    > .columns {
      @include breakpoint(small only) {
        margin-bottom: 2rem;
        &:last-of-type {
          margin-bottom: 0
        }
      }
    }
  }
  .row {
    .step {
      @include flex-grid-column(9);
      margin-bottom: 2rem;
      @include breakpoint(830px){
        @include flex-grid-column(4);
      }
      @include breakpoint(large){
        @include flex-grid-column(3);
      }
      .card {
        position: relative;
        background: white;
        height: 100%;
        padding: 2rem;
        border: none;
        border-radius: 6px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.1);
        .step-image {
          height: 6rem;
          margin-bottom: 2rem;
          @include flex;
          @include flex-align(center,middle);
          img {
            flex: 0 1 auto;
          }
        }
        p {
          margin-bottom: 5rem;
          text-align: center;
          @include breakpoint(830px){
            text-align: left;
          }
        }
        .card-buttons {
          position: absolute;
          bottom: 2rem;
          left: 0;
          width: 100%;
          text-align: center;
          @include breakpoint(830px){
            left: 2rem;
            text-align: left;
          }
          // @include flex;
          // .button {
          //   flex: 1 0 auto;
          //   margin-bottom: 0
          // }
          .button {
            margin-bottom: .25rem;
          }
          .button:last-of-type {
            margin-bottom: .25rem;
            @include breakpoint(830px){
              margin-bottom: 0;
            }
          }
        }

        //@include aspect-ratio(3,3.75);
        .card-face {
          height: 100%;
          width:100%;
          position: absolute;
          top: 0; left: 0;
          .card-content {
            height: 100%;
            padding: 2rem;
            @include flex;
            flex-direction: column;
            justify-content: space-between;
          }
        }
      }
    }
  }
}

#whyVideo {
  padding: 6rem 0;
}

#assets {
  margin: 0;
  height: 50vh;
  min-height: 450px;
  padding: 0 2rem;
  @include breakpoint(medium) {
    padding: 6rem;
  }
  .row {
    position: relative;
  }
  .button {
    color: $white;
  }
}
