@import "swiper/dist/css/swiper";
#processSlides {
  position: relative;
  .step-container {
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 4rem;
    left: 0;
    right: 0;
    margin: auto;
    h4 {
      font-size: 2rem;
      font-family: $serif;
      font-weight: 700;
      text-transform: none;
      color: $white;
    }
    @include breakpoint(small only) {
      width: auto;
      left: 2rem;
    }
  }
}

.swiper-container {
  background: $black;
  width: 100vw;
  height: 500px;
  @include breakpoint(small only) {
    height: 50vh;
    min-height: 500px;
  }
  &:hover {
    .swiper-button-prev, .swiper-button-next {
      transform: scale(1);
      opacity: 1;
    }
  }
  .swiper-slide {
    @include flex;
    @include flex-align(center, middle);
    height: 100%;
    overflow: hidden;
    & > .row > .columns {
      position: relative;
      z-index: 20;
    }

    .overlay {
      @include overlay($black, .5);
    }

    .slide-img {
      @include breakpoint(small only) {
        width: 50%;
      }
    }
  }
  .swiper-button-prev, .swiper-button-next {
    width: 4rem; height: 4rem;
    padding: 1rem;
    opacity: 0;
    border-radius: 300px;
    background-color: rgba(255,255,255,0.15);
    transform: scale(.5);
    transition: opacity 0.5s ease, transform 0.5s cubic-bezier(.75,0,.50, 3), background-color 0.5s ease;
    &:hover {
      background-color: rgba(255,255,255,0.25);
    }
    &:active {
      background-color: rgba(255,255,255,0.33);
    }
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      width: 3rem;
      border-radius: 0px;
      height: 2px;
      opacity: 1;
      background-color: rgba(255,255,255,0.25)!important;
    }
    .swiper-pagination-bullet-active {
      height: 2px;
      opacity: 1;
      background-color: $primary-color!important;
    }
  }

  p.step-desc {
    color: $light-gray;
    opacity: 0;
    transform: translateY(2rem);
    transition: transform .5s ease, opacity 1s ease;
    &.fade-in {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

#canDo {
  .can-do-cards {
    padding: 2rem 0;
    > .columns {
      @include breakpoint(small only) {
        margin-bottom: 2rem;
      }
    }
  }
  .can-do-col:first-of-type {
    @include breakpoint(small only){
      img {
        width: 25%!important;
      }
    }
  }
  #projectCard {
    transition: all 0.5s ease;
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.06), 0 3px 6px rgba(0,0,0,0.1);
    }
  }
  .can-do-buttons {
    @include flex;
    flex-direction: row;
    @include breakpoint(small only) {
      flex-wrap: wrap;
    }
    a {
      margin-bottom: 0;
      @include breakpoint(small only) {
        line-height: 3px;
        flex: 1 0 100%;
        margin-bottom: .25rem;
      }
    }
  }
  .card {
    height: 290px;
    width: 290px;
    position: relative;
    border-radius: 6px;
    padding: 2rem;
    margin: 0 1rem 2rem;
    @include breakpoint(medium){
      padding: 3rem;
      height: 370px;
      width: 370px;
    }
    .can-do-image {
      width: auto;
      height: auto;
      img {
        display: block;
        margin: 0 auto;
        @include breakpoint(small only){
          width: 50%;
        }
      }
    }

    h4 {
      margin-bottom: 0;
    }

    .button {
      &:first-of-type {
        margin-right: .25rem;
      }
    }
  }
}
