#projectForm {
  .form-panel {
    header {
      padding: 1.5rem 1rem 0;
      @include breakpoint(large) {
        padding: 2rem 3rem 0;
      }
      h2 {
        color: $white;
        display: inline-block;
        padding: .25rem 1rem;
        font-size: 3rem;
        background: $black;
      }
    }
    .fieldset {
      border: none!important;
      padding: 2rem 1rem;
      margin: 0;
      @include breakpoint(large) {
        padding: 2rem 3rem;
      }
    }

    .tactics {
      padding-top: 2rem;
    }
    .toggle-inputs {
      padding-top: 2rem;
      padding-bottom: 2rem;
      @include flex-grid-row;
      .check-input {
        @include flex-grid-column(12, 0);
        label {
          display: block;
        }
      }
      @include breakpoint(medium){
        .check-input {
          @include flex-grid-column(12, 0);
        }
      }
      @include breakpoint(780px){
        .check-input {
          label {
            display: inline-block;
          }
        }
      }
    }
  }
}

// Project selected
#projectSelector {
  .select-cards {
    padding: 2rem 0;
    > .columns {
      @include breakpoint(small only) {
        margin-bottom: 2rem;
      }
    }
  }
  .select-col:first-of-type {
    @include breakpoint(small only){
      img {
        width: 25%!important;
      }
    }
  }
  .card {
    height: 290px;
    width: 290px;
    position: relative;
    border-radius: 6px;
    border:none;
    padding: 2rem;
    margin: 0 1rem 2rem;
    box-shadow: 0px 6px 30px rgba(0,0,0,0.1);
    @include breakpoint(medium){
      padding: 3rem;
      height: 370px;
      width: 370px;
    }
    .select-image {
      width: auto;
      height: auto;
      img {
        display: block;
        margin: 0 auto;
        width: 66%;
        @include breakpoint(small only){
          width: 50%;
        }
      }
    }
    h4 {
      margin-bottom: 0;
    }
    &:hover, &.is-active {
      transform: translate(0, -8px) scale(1.0125);
      box-shadow: 0px 16px 30px rgba(0,0,0,0.1)
    }
  }
  &.minimize {
    .card {
      height: 100px;
      width: 100px;
      padding: 1rem;
      margin: 0 1rem 1rem;
      border-radius: 100px;
      opacity: 0.75;
      box-shadow: 0px 3px 8px rgba(0,0,0,0.05);
      @include flex-align(center,middle);
      img {
        width: 100%;
      }
      &:hover, &.is-active {
        opacity: 1;
        transform: translate(0,0) scale(1.0125);
        box-shadow: 0px 3px 15px rgba(0,0,0,0.1);
      }
    }
  }
}
