#projectForm {
  .form-panel {
    header {
      padding: 1.5rem 1rem 0;
      @include breakpoint(medium) {
        padding: 2rem 4rem 0;
      }
      h2 {
        color: $white;
        display: inline-block;
        padding: .25rem 1rem;
        font-size: 3rem;
        background: $black;
      }
    }
    h3 {
      color: $white;
      display: inline-block;
      padding: .25rem 1rem;
      font-size: 2rem;
      background: $primary-color;
    }
    .fieldset {
      border: none!important;
      padding: 2rem 1rem;
      margin: 0;
      @include breakpoint(medium) {
        padding: 2rem 4rem;
      }
    }

    .tactics {
      padding-top: 2rem;
    }
    .toggle-inputs {
        padding-top: 2rem;
        padding-bottom: 2rem;
        @include flex-grid-row;
        .check-input {
          @include flex-grid-column(12, 0);
          label {
            display: block;
          }
        }
        @include breakpoint(medium){
          .check-input {
            @include flex-grid-column(12, 0);
          }
        }
        @include breakpoint(780px){
          .check-input {
            @include flex-grid-column(6, 0);
            label {
              display: inline-block;
            }
          }
        }
    }

    #fileUploader {
      background: white;
      padding: 4rem 1rem;
      margin: 2rem 0;
      @include breakpoint(medium) {
        padding: 4rem 4rem;
        margin: 2rem 0;
      }

      #fileList {
        list-style-type: none;
        li {
          .card {
            border-radius: 6px;
          }
          .thumb-container {
            @include aspect-ratio(1,1);
            background-size: cover;
            background-position: center;

            button {
              cursor: pointer;
              background: rgba(0,0,0,0);
              position: absolute;
              width: 100%;
              margin: auto;
              top: 0; bottom: 0;
              left: 0; right: 0;
              transition: all 0.5s ease;
              svg {
                opacity: 0;
                transform: scale(.5);
                transition: transform 0.5s cubic-bezier(0.64, 0.57, 0.67, 1.53);
              }
              span {
                display: block;
                position: absolute;
                bottom: 1rem;
                width: 100%;
                opacity: 0;
                color: $white;
                font-size: .8rem;
                font-family: $sans-bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                transition: all 0.5s ease;
              }
              &:hover {
                background: rgba(0,0,0,0.66);
                svg {
                  opacity: 1;
                  transform: scale(2);
                  fill: $primary-color;
                }
                span {
                  opacity: 1;
                }
              }
            }
          }
        }
      }
    }
    #contactForm {
      .subheader {
        color: $primary-color;
        font-size: .75rem;
        text-transform: uppercase;
        letter-spacing: 2px;
      }
      .contact-email {
        color: $black;
        font-size: 2rem;
      }
      .contact-info {
        margin-top: 2rem;
        font-size: .9rem;
        color: $medium-gray;
      }
      .callout {
        border-radius: 6px;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      }
      #contactCard {
        h3 {
          @include breakpoint(medium only) {
            margin-bottom: 2rem
          }
        }
        .contact-help {
          padding-bottom: 1rem;
          @include breakpoint(large) {
            padding-top: 5rem;
            padding-bottom: 0;
          }
        }
        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          label {
            color: $form-gray;
            font-family: $sans-bold;
            margin-bottom: 0;
            line-height: 1rem;
          }
          span {
            font-size: 1.25rem;
          }
        }
      }
    }
  }
}
