<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></pre>
<h1>Your project '<%= @project.title %>' was created succesfully</h1>
<h2><%= @project.description %></h2>
<pre>
<%= @contact.full_name %>

This email was sent out to you, because you are subscribed to the postbox-mailing-list.
If you want to unscribscribe, please use this url: <%= @url %>.
