<% @page_title = "Home" %>

<section id="hero">
  <div class="row">
    <div class="hero-container column">
      <div class="rellax-image"
        style="background-image: url(https://unsplash.it/g/600/900)"></div>

      <div class="hero-card card rellax"
        data-rellax-speed="1">
        <h2>Direct &amp; Quick</h2>

        <div class="hero-copy">
          <p>Get what you need. <br>When you need it.</p>
          <p>You Just need your T-Mobile Email!</p>
        </div>

        <div class="hero-actions">
          <a href="/projects/new" class="button hollow primaryAlt">Get Started</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="homeSteps">
  <div class="row">
    <div class="column section-heading">
      <h4 class="serif">Don't Hesistate</h4>
      <h2>Live your best life now</h2>
    </div>
  </div>

  <div class="row">
    <div class="small-11 medium-4 columns">
      <div class="card">
          <div class="step-image">
            <%= image_tag("icons/steps.png", height: '40', width: '174') %>
          </div>
            <p>Learn what Collateral Express is and how it can it
              make your life easier.</p>

            <a href="/how-it-works" class="button hollow">How it works</a>

      </div>
    </div>
    <div class="small-11 medium-4 columns">
      <div class="card">
          <div class="step-image">
            <%= image_tag("icons/logo.png", height: '62', width: '134') %>
          </div>
            <p>Know what you need? and when you'll need it? Fill out
              this request form and let's get started. </p>

            <a href="/projects/new" class="button hollow">Send Requests</a>

      </div>
    </div>
    <div class="small-11 medium-4 columns">
      <div class="card">
          <div class="step-image">
            <%= image_tag("icons/search.png", height: '70', width: '80') %>
          </div>
            <p>Browse existing assets and find exactly what you need.</p>

            <div class="card-buttons">
              <a href="#" class="button hollow">Go to TMAP</a>
              <a href="#" class="button hollow">Go to Brand Muscle</a>
            </div>

      </div>
    </div>
  </div>
</section>

<hr>

<section id="whyVideo">
  <div class="row align-center">
    <div class="small-11 medium-9 column section-heading">
      <div class="section-heading">
        <h2>Why <%= t('site_name') %>?</h2>
      </div>

      <div class="responsive-embed widescreen" data-aos="fade-up">
        <iframe src="https://player.vimeo.com/video/54658957" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>

<section id="assets">
  <div class="rellax-image"
    style="background-image: url(https://unsplash.it/g/600/900)"></div>

  <div class="row align-center">
    <div class="column shrink">
      <blockquote class="white-w-magenta">
        <p>
          Thousands of assets<br>
          <strong>At your finger tips</strong>
        </p>
      </blockquote>

      <a href="#" class="button hollow">TMAP</a>
      <a href="#" class="button hollow">Brand Muscle</a>
    </div>
  </div>
</section>
