@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
}

@mixin overlay($color, $opacity : 0.66) {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($color, $opacity);
}

@mixin cover-card() {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin pad($padding: null, $bp: null, $in: false) {
  @if ($bp) {
    @include breakpoint($bp){
      @if ($in) {
        padding-left: $padding;
        padding-right: $padding;
      } @else {
        padding-top: $padding;
        padding-bottom: $padding;
      }
    }
  } @else {
    @if ($in) {
      padding-left: $padding;
      padding-right: $padding;
    } @else {
      padding-top: $padding;
      padding-bottom: $padding;
    }
  }
}

.pad-small {
  @include pad(2rem);
  &-medium {
    @include pad(2rem, medium);
  }
  &-large {
    @include pad(2rem, large);
  }
}

.pad-in-small {
  @include pad(1rem, small, true);
  &-medium {
    @include pad(1rem, medium, true);
  }
  &-large {
    @include pad(1rem, large, true);
  }
}

.pad-default {
  @include pad(4rem);
  &-medium {
    @include pad(4rem, medium);
  }
  &-large {
    @include pad(4rem, large);
  }
}

.pad-in-default {
  @include pad(2rem, small, true);
  &-medium {
    @include pad(2rem, medium, true);
  }
  &-large {
    @include pad(2rem, large, true);
  }
}
