<section id="heroHeader" class="cover" style="background-image: url(<%= @header[:image] %>)">
  <div class="overlay"></div>
  <div class="row align-middle">
    <div class="column">
      <blockquote>
        <%= @header[:title].html_safe %>
      </blockquote>
    </div>
  </div>
</section>
