footer {
  color: #999;
  @include breakpoint(small only){
    padding: 1rem;
  }
  img {
    width: 50%;
    padding: 1rem;
    @include breakpoint(medium) {
      width: 200px;
      padding: 2rem 1rem;
    }
  }
  #footerWrap {
    @include flex;
    @include flex-align(left, middle);
    @include breakpoint(medium) {
      @include flex-align(right, middle);
    }
  }
  #footerNav {
    @include flex;
    @include flex-align(left, middle);
    flex-wrap: wrap;
    @include breakpoint(medium){
      flex-wrap: nowrap;
      @include flex-align(right, middle);
    }
    a {
      color: #999;
      margin-left: .5rem;
      &:hover {
        color: $black;
      }
      @include breakpoint(small only){
        margin-left: 0;
        flex: 1 0 100%;
        text-align: left;
        display: block;
      }
    }
  }
}
