$form-gray: lighten($medium-gray, 20%);
form {
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border: none;
    border-bottom: 1px solid $form-gray;
    outline: none;
    background: none;
    padding-left: 0;
    padding-right: 0;
    transition: all 0.3s ease;
    box-shadow: none;
    &:focus {
      background: none;
      box-shadow: none;
      border: none;
      border-bottom: 3px solid $primary-color;
      transition: all 0.5s ease;
    }
  }
  .float-input {
    padding-top: 1rem;
    padding-bottom: 1rem;
    input {
      margin: 0;
    }
    label {
      font-family: $sans-bold;
      color: $form-gray;
      &.floated.focused {
        color: $primary-color!important;
      }
    }
  }
  .check-input {
    padding-top: 1rem;
    padding-bottom: 1rem;
    label {
      font-size: 1.5rem;
    }
    svg {
      font-size: 4rem;
    }
  }
  .hint {
    font-style: italic;
    color: $form-gray;
    font-size: .75rem;
    margin-top: .25rem;
  }
  .callout {
    border: none;
  }
}
