form {
  [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    border: none;
    outline: none;
    background: #F2F2F2;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.18);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    &:focus {
      border: none;
      box-shadow: 0 14px 28px rgba(0,0,0,0.18), 0 10px 10px rgba(0,0,0,0.14);
      transition: all 0.5s ease;
    }
  }
  .input-group-label {
    border: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.08), 0 1px 2px rgba(0,0,0,0.18);
  }
  .callout {
    border: none;
  }
}
