#navToggle {
  background: black;
}

#links {
  a {
    color: $medium-gray;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    &:hover {
      color: $black;
    }
    &.is-active {
      border-bottom: 2px solid $primary-color;
    }
  }
}
