table {
  thead {
    tr {
      td {
        background-color: #EEF3F2
      }
    }
    table tr:last-child td:first-child {
      border-bottom-left-radius: 10px;
    }

    table tr:last-child td:last-child {
      border-bottom-right-radius: 10px;
    }
  }
}
