<!DOCTYPE html>
<html>
  <head>
    <title>Collateral Express</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header"></header>
      <%= yield %>
    <footer id="footer"></footer>
  </body>
</html>
